In [1]:
planet_1 = "mercury"
planet_2 = "VENUS"
planet_3 = "earth"

print(planet_1,planet_2,planet_3)

mercury VENUS earth

In [2]:
print(planet_1.title(),planet_2.lower(),planet_3.upper())

Mercury venus EARTH

In [3]:
statment = f'{planet_1.upper()} {planet_2.lower()} {planet_3.title()}'
print(statment)

MERCURY venus Earth

In [6]:
print(planet_1.title(),'\n\t',planet_2.lower(),'\n\t\t',planet_3.upper())

Mercury
	 venus
		 EARTH

In [8]:
print(planet_1.title(),'\n\t'.strip(),planet_2.lower(),'\n\t\t'.strip(),planet_3.upper())

Mercury  venus  EARTH

In [10]:
type(planet_1)
type(planet_2)
type(planet_3)

str

In [ ]:
# list

In [11]:
planets = ["mercury","venus","earth","mars","jupiter","saturn"]
print(planets)

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn']

In [12]:
type(planets)

list

In [13]:
print(planets[4])

jupiter

In [14]:
print(planets[5].upper())

SATURN

In [16]:
print(planets[0].title(),"\n",planets[1].title(),"\n",planets[3].title())

Mercury
 Venus
 Mars

In [17]:
print(planets)

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn']

In [18]:
planets.append('urenus')
print(planets)

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'urenus']

In [19]:
print(planets)

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'urenus']

In [20]:
planets.append('pluto'.upper())
print(planets)

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'urenus', 'PLUTO']

In [21]:
print(planets)

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'urenus', 'PLUTO']

In [22]:
del planets[4]
print(planets)

['mercury', 'venus', 'earth', 'mars', 'saturn', 'urenus', 'PLUTO']

In [23]:
del planets[6]
print(planets)

['mercury', 'venus', 'earth', 'mars', 'saturn', 'urenus']

In [25]:
planets.insert(4,'jupiter'.upper())
planets.insert(7,'pluto')
print(planets)

['mercury', 'venus', 'earth', 'mars', 'JUPITER', 'JUPITER', 'saturn', 'pluto', 'urenus', 'pluto']

In [27]:
del planets[5]
del planets[6]
print(planets)

['mercury', 'venus', 'earth', 'mars', 'JUPITER', 'urenus']

In [29]:
planets.insert(5,'saturn')
planets.insert(7,'neptune')
planets.append('pluto')

print(planets)

['mercury', 'venus', 'earth', 'mars', 'JUPITER', 'saturn', 'saturn', 'neptune', 'urenus', 'neptune', 'pluto', 'pluto']